/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

:root {
  --main-color: #4c40a2;
  --light-color: #666;
  --light-bg: #eee;
  --white: #fff;
  --black: #303030;
  --border: 0.1rem solid var(--light-color);
  --box-shodow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

/* Body Styles */
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f2f1f4;
}

/* ----------------------------- */
/* Navigation styles start here */
/* --------------------------- */

nav {
  padding: 30px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 1;
  background: #dbd9ec;
}

nav .logo h1 {
  font-size: 2.5rem;
  background: linear-gradient(to right, #b927fc 0%, #2c64fc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 160%;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 5px;
}

/* Hamburger Menu Styles */
.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 1px;
  background-color: #1f1f1f;
  display: block;
  margin: 7px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}

.hamburger-active .line:nth-child(2) {
  width: 0px;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
  transition-delay: 0.3s;
}

.hamburger-active .line:nth-child(1) {
  transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
  transform: translateY(-5px) rotate(90deg);
}

/* Mobile Menu Bar */
.menubar {
  position: absolute;
  top: 0;
  left: -60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  height: 100vh;
  padding: 20% 0;
  background: rgba(255, 255, 255);
  transition: all 0.5s ease-in;
  z-index: 2;
}

.active {
  left: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menubar ul {
  padding: 0;
  list-style: none;
}

.menubar ul li {
  margin-bottom: 32px;
}

.menubar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 150%;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 5px;
}

.menubar ul li a:hover {
  background-color: #f5f5f5;
}

/* Responsive Styles */
@media screen and (max-width: 790px) {
  .hamburger {
    display: block;
  }
  nav ul {
    display: none;
  }
}

/* Login Button Styles */
.login-button {
  background-color: #6c5ce7;
  color: #fff;
  padding: 8px 16px;
}

.login-button:hover {
  background-color: #564ab9;
}

/* Navigation styles start here */

/* --------------------- */
/* Hero styles start here */
/* --------------------- */

.heading-primary {
  font-size: 4.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.section-hero {
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.hero-btn:link,
.hero-btn:visited {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.5rem 3rem;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.hero-btn--full:link,
.hero-btn--full:visited {
  background-color: #6c5ce7;
  color: #ffffff;
}

.hero-btn--full:hover,
.hero-btn--full:active {
  background-color: #352d71;
  color: #ffffff;
}

.hero-btn--outline:link,
.hero-btn--outline:visited {
  background-color: #ffffff;
  color: #555;
  box-shadow: inset 0 0 0 3px #6c5ce7;
}

.mg-r-sm {
  margin-right: 1.6rem !important;
}
/* Hero styles end here */

/* ------------------------ */
/* Listening styles start here */
/* ------------------------ */
.listings {
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  padding-bottom: 2.5rem;
  font-size: 3rem;
  color: var(--black);
  text-transform: uppercase;
}

.btn,
.inline-btn {
  margin-top: 1rem;
  padding: 1rem 3rem;
  background-color: var(--main-color);
  color: var(--white);
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.btn:hover,
.inline-btn:hover {
  background-color: #2b255c;
}

.btn {
  display: block;
  width: 100%;
}

.inline-btn {
  display: inline-block;
}

.listings .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}

.listings .box-container .box {
  background-color: var(--white);
  box-shadow: var(--box-shodow);
  padding: 2rem;
  overflow-x: hidden;
}

.listings .box-container .box .admin {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.listings .box-container .box .admin h3 {
  height: 4.5rem;
  line-height: 4.4rem;
  width: 4.5rem;
  border-radius: 50%;
  font-size: 2rem;
  color: var(--black);
  background-color: var(--light-bg);
  text-align: center;
}

.listings .box-container .box .admin p {
  font-size: 1.7rem;
  color: var(--black);
  padding-bottom: 0.3rem;
}

.listings .box-container .box .admin span {
  font-size: 1.5rem;
  color: var(--light-color);
}

.listings .box-container .box .thumb {
  position: relative;
  height: 20rem;
  overflow: hidden;
  margin: 1.5rem 0;
}

.listings .box-container .box .thumb img {
  height: 100%;
  width: 100%;
  transition: 0.2s linear;
}

.listings .box-container .box:hover .thumb img {
  transform: scale(1.1);
}

.listings .box-container .box .thumb .total-images {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--white);
  padding: 0.5rem 1.5rem;
  font-size: 1.6rem;
  z-index: 1;
}

.listings .box-container .box .thumb .total-images i {
  margin-right: 0.7rem;
}

.listings .box-container .box .thumb .type {
  position: absolute;
  bottom: 1rem;
  left: 0.7rem;
  z-index: 1;
}

.listings .box-container .box .thumb .type span {
  margin-right: 0.7rem;
  padding: 0.5rem 1rem;
  color: var(--white);
  background-color: var(--main-color);
  font-size: 1.2rem;
}

.listings .box-container .box .thumb .save {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}

.listings .box-container .box .thumb .save button {
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--white);
  padding: 0.7rem 1rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.listings .box-container .box .thumb .save button:hover {
  background-color: var(--main-color);
}

.listings .box-container .box .name {
  font-size: 1.8rem;
  text-overflow: ellipsis;
  overflow-x: hidden;
  color: var(--black);
  margin-bottom: 0.5rem;
}

.listings .box-container .box .location {
  padding-top: 1rem;
  font-size: 1.6rem;
  color: var(--light-color);
}

.listings .box-container .box .location i {
  margin-right: 1rem;
  color: var(--main-color);
}

.listings .box-container .box .flex {
  display: flex;
  background-color: var(--light-bg);
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.listings .box-container .box .flex p {
  font-size: 1.6rem;
  flex: 1 1 4rem;
}

.listings .box-container .box .flex p span {
  color: var(--light-color);
}

.listings .box-container .box .flex p i {
  margin-right: 1rem;
  color: var(--main-color);
}
/* listings styles end here */

/* --------------------- */
/* Footer styles start here */
/* --------------------- */

footer {
  background-color: #b7b3da;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 25px 0;
  bottom: 0;
  width: 100%;
}

/* Footer styles end here */
